<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{{body}}}
</body>
</html>
=======
<!DOCTYPE=html>
>>>>>>> 82fd3419c992dc7f5310f7a0e1a0ef150b73f351
