<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Pet Tracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='./css/styles.css'>
</head>
<body>
  <div>
    <header>
      <h1>Pet Tracker</h1>
      <nav>
        {{#if logged_in}}
            <button class="no-button" id="logout">HOME</button> | <button class="no-button" id="logout">LOGOUT</button>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
</body>
<footer>
    <p>Whitney Burnette, Danny McHugh, Michael Nyamohanga, </br>Brad Schneider, and Matthew Williams</p>
</footer>
<script>
  window.open('splash.html')
</script>
</html>



