<div class='container inter-tight-regular'>
    <h2>Animal Details</h2>
    <form id='add-animal-form' action='/animal' method='POST'>
        <div>
            <div class='form-group-1'>
                <label for='name'>Name:</label>
                <input type='text' id='animal-name' name='name' required>

                <label for='chip'>Microchip:</label>
                <input type='text' id='animal-chip' name='chip'>
            </div>

            <div class='columns'>
                <div class='form-group-2'>
                    {{!-- <div class='drop-list'>
                        <label for='species'>Species: </label>
                            <select name='species'>
                            <option value = '1'>dog</option>
                            <option value = '2'>cat</option>
                        </select>
                    </div> --}}
                    <div class='drop-list'>
                        <label for='species'>Species: </label>
                        <select id='species' name='species'>
                            <!-- options will be populated here -->
                        </select>
                    </div>

                    <div class='drop-list'>
                        <label for='breed'>Breed:</label>
                        <select id='breed' name='breed'>
                            <!-- options will be populated here -->
                        </select>
                    </div>

                    <div class='drop-list'>
                        <label for='color'>Color:</label>
                        <select id='color' name='color'>
                            <!-- options will be populated here -->
                        </select>
                    </div>
                    {{!-- <div class='drop-list'>
                        <label for='color'>Color:</label>
                        <select name='color'>
                            <option value='1'>black</option>
                            <option value='2'>white</option>
                            <option value='3'>gray</option>
                            <option value='4'>brown</option>
                            <option value='5'>yellow</option>
                            <option value='6'>orange</option>
                            <option value='7'>brindle</option>
                        </select>
                    </div> --}}

                    <div>
                        <label for='kennel'>Kennel:</label>
                        <input type='text' id='kennel' name='kennel' placeholder='e.g., A5'>
                    </div>
                </div>
                    
                <div class='form-group-3'>
                    <div class='radio-check-group'>
                        <label for='sex'>Sex:</label>
                        <div class='radio-list'>
                            <input type='radio' id='female' name='sex' value='F' checked />
                            <label for='female'>female</label>
                        </div>
                        <div class='radio-list'>
                            <input type='radio' id='male' name='sex' value='M' />
                            <label for='radio'>male</label>
                        </div>
                    </div>

                    <div class='radio-check-group'>
                        <label for='altered-yes'>Altered:</label>
                        <div class='radio-list'>
                            <input type='radio' id='animal-altered-yes' name='altered' value='yes' checked />
                            <label for='yes'>yes</label>
                        </div>
                        <div class='radio-list'>
                            <input type='radio' id='animal-altered-no' name='altered' value='no' />
                            <label for='radio'>no</label>
                        </div>
                    </div>

                    <div class='radio-check-group'>
                        <label for='behavior'>Behavior Issues:</label>
                        <div class='checkbox-list'>
                            <input type='checkbox' id='toy-aggression' name='behavior'/>
                            <label for='toy-aggression'>toy aggression</label></br>
                            <input type='checkbox' id='animal-aggression' name='behavior'/>
                            <label for='aggression'>animal aggression</label></br>
                            <input type='checkbox' id='not-housebroken' name='behavior'/>
                            <label for='not-housebroken'>not housebroken</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <button type='submit' id='save-button'>Save</button>
        <button type='button' id='cancel-button'>Cancel</button>
    </form>
</div>

<script src='/js/new.js'></script>