<div class='container inter-tight-regular'>
    <h2>Add New Pet</h2>
    <form id="add-pet-form" action="/pets/add" method="POST" enctype="multipart/form-data">
        <div class = "newpet">
            <div class="form-group-1">
                <label for="pet-name">Pet Name:</label>
                <input type="text" id="pet-name" name="pet_name" required>

                <label for="pet-species">Pet Species:</label>
                <input type="text" id="pet-species" name="pet_species" required>

                <label for="pet-breed">Pet Breed:</label>
                <input type="text" id="pet-breed" name="pet_breed">
            </div>
            <div class="form-group-2">
                <label for="pet-color">Pet Color:</label>
                <input type="text" id="pet-color" name="pet_color">

                <label for="pet-behavior">Pet Behavior:</label>
                <input type="number" id="pet-behavior" name="pet_behavior">

                <label for="kennel">Kennel:</label>
                <input type="text" id="kennel" name="kennel">
            </div>
        </div>
        <div class="form-group-3">
            <button type="submit" id="save-button">Save</button>
            <button type="button" id="cancel-button">Cancel</button>
        </div>
    </form>
</div>