<div class='container inter-tight-regular'>
    <div>
    <h2>Our Current Pack</h2>
      <div class="packgallery">
        {{#each animalArray as |animal|}}
        <div class="packmember">
            <a href='api/animals/{{animal.id}}'>
              <img src='/images/{{animal.id}}.png' style="max-width: 107px;" alt="image of {{animal.name}}">
              <p>{{animal.name}}</p>
           </a>
        </div>
      {{/each}}
      </div>
  </div>
  <button type='button' id='addAnimalBtn'>Add Animal</button>
</div>


<script>
  const addAnimal = document.querySelector('#addAnimalBtn');
  addAnimal.addEventListener('click', function() {
    window.location.href = '/new'; // Redirect to the animals list page or any other page
  });

</script>


