<div class='container inter-tight-regular'>
  <h2>Our Pack</h2>
  <div class="packgallery">
    {{#each animalArray as |animal|}}
      <div class="packmember">
        <a href='api/animals/{{animal.id}}'>
        <img src='/images/{{animal.id}}.png' alt='image of {{animal.name}}' onerror='noImage(event)'>
        <p>{{animal.name}}</p>
      </a>
      </div>
    {{/each}}
  </div>
    <button type='button' id='addAnimalBtn'>Add Animal</button>
</div>

<script src='/js/pack.js'></script>