/*-------------------- site-wide --------------------*/
.inter-tight-regular {
    font-family: 'Inter Tight', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
.inter-tight-bold {
    font-family: 'Inter Tight', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
  
body {
    background-color:rgb(120, 188, 233);
}

main {
    background-color:white;
    height:100vh;
    margin-left:6vw;
    border-radius: 2rem 0 0 0;
    box-shadow:-10px -10px 20px rgb(58, 157, 223);
}

.container {
    max-width:720px;
    margin:auto;
    margin-top:2rem;
    padding:.5rem;
    box-sizing:border-box;
}

nav {
    color:white;
    position:absolute;
    top:4rem;
    right:1rem;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter Tight', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-align: left;
    margin-bottom:.25rem;
}
  
h1 {
    margin-left:6vw;
    color:white;
    font-size:3rem;
}

h2 {
    font-size: 2.5rem;
    color:rgb(255, 165, 0);
    margin-top:0px;
    margin-bottom:1rem;
    text-align: left;
}

input {
    width: 98%;
    margin-bottom:.5rem;
}

.no-button {
    color:white;
    background-color:transparent;
    border:none;
}

/*---------- splash page ----------*/
.modal {
    display:none;
    position:absolute;
    z-index:1;
    left:6rem;
    right:0;
    top:12rem;
    margin:auto;
    width:25%;
    height:25%;
}

.hideContent {
    display:none;
}

.splash-back {
    background-color:white;
    border-radius: 1rem 0 0 0;
    box-shadow: -10px 10px 20px rgba(0,0,0,.5)
}

.splash {
    border: 1px solid black;
    border-radius: 1rem 0 0 0;
}

.splash > h1 {
    margin-left:1rem;
    margin-top:0px;
    color:rgb(120, 188, 233);
}

.splash > img {
    width:100%;
    margin:auto;
    height:auto;
    object-fit:cover;
}
  
.splash > footer {
    font-size:10px;
    font-weight:400;
    position:static;
    text-align:center;
    left:0;
    right:0;
    margin:auto;
    background-color:none;
    padding: 0.25rem;
}

/*---------- login page ----------*/
.login {
    display:flex;
}

.login_form, .register_form, .add-animal-form {
    padding:.5rem;
    flex:1 1 100%;
}

.login_form > form, .register_form > form, .add-animal-form > form {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
  
button {
    margin-top: 10px;
}
  
  /*---------- pack page ----------*/
.packgallery {
    display:flex;
    gap: 10px;
    flex-flow:row wrap;
    justify-content:flex-start;
}

.packmember {
    flex: 1 1 0;
    padding:5px;
    max-width:20%;
}

.packmember p {
    line-height:0%;
    text-align:center;
}

/*---------- new animal page ----------*/
.form-group-1 {
    display:inline-flex;
    flex-wrap:nowrap;
    white-space:nowrap;
    gap:1rem;
    width: 100%;
    margin-bottom:.5rem;
    padding-bottom: .5rem;
    border-bottom:2px solid rgb(58, 157, 223);
}

.form-group-1 #animal-name {
    flex: 1 1 65%;
}

.form-group-1 #animal-chip {
    flex: 1 1 35%;
}

.columns {
    display:flex;
}
.form-group-2, .form-group-3 {
    width:50%;
}

.form-group-3 #kennel {
    width:15%;
}

.form-group-4 {
    display:block;
}

.radio-check-group {
    line-height:225%
}

.radio-list {
    line-height:initial;
}
.radio-list input {
    width:5%;
}
.checkbox-list {
    line-height:initial;
}

.checkbox-list input {
    width:5%;
}

.checkbox-list label {
    width:100%;
    padding:12px;
}

.drop-list {
    margin-top:10px;
}

/*---------- existing animal page ---------*/
.photo {
    position:relative;
    width:0;
    height:0;
    left:-225px;
}

.qrcode {
    position:relative;
    width:0;
    height:0;
    left:25px;
    float:right;
}

.qrcode img {
    width:100px;
}

.animal-data table {
    width:100%;
    border-collapse:collapse;
    border-top:1px solid black;
}

.animal-data tr:nth-child(odd) {
    background-color: #fff;
}
 
.animal-data tr:nth-child(even) {
    background-color: hsl(204, 72%, 90%);
}
    
.animal-data th, td {
    padding:.25rem 1rem;
    text-align: left; 
}

/*-------------------- media queries --------------------*/
@media screen and (max-width: 992px) {
    main {
        border-radius: 1rem 0 0 0;
        height:100%;
    }
    
       .login {
        display:block;
    }

    nav {
        left:6vw;
        padding-top:1rem;
    }

    .packgallery {
        display:flex;
        gap:10px;
        flex-flow:row wrap;
        justify-content:space-around;
        right:0;
        left:0;
    }
    
    .packmember {
        padding:5px;
        max-width:33%;
    }
}