/*-------------------- site-wide --------------------*/
.inter-tight-regular {
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-bold {
    font-family: 'Inter Tight', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color:rgb(120, 188, 233);
}

nav {
    color:white;
    position:absolute;
    top:4rem;
    right:0;
}
main {
    background-color:white;
    height:100vh;
    width:100vw;
    margin-left:6rem;
    border-radius: 2rem 0 0 0;
    box-shadow: -10px -10px 20px rgb(58, 157, 223);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter Tight', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    text-align: left;
    margin-bottom:.25rem;
}

h1 {
    color:white;
    font-size:3rem;
    padding-left:1rem;
}

h2 {
    font-size: 2.5rem;
}

input {
    width: 98%;
    margin-bottom:.5rem;
}

footer {
    background-color: white;
    position: fixed;
    width:100%;
    margin:auto;
    margin-left:6rem;
    bottom:0;
    padding: 0.25rem;
}

footer p {
    font-family: 'Inter Tight', sans-serif;
    font-size: 0.75rem;
    text-align:center;
}

.no-button {
    color:white;
    background-color:transparent;
    border:none;
}

/*-------------------- containers -------------------- */
.container {
    width: 100%;
    min-width: 310px;
    max-width: 720px;
    height: fit-content;
    margin: auto;
    margin-top:2rem;
    padding: .5rem;
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* border-radius: 2rem 0 0 0; */
}

/*---------- splash page ----------*/
.splash-back {
    background-color:white;
}

.splash {
    border: 1px solid black;
    border-radius: 1rem 0 0 0;
}

.splash > h1 {
    margin-top:0px;
    color:rgb(120, 188, 233);
}

.splash > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.splash-foot {
    margin-left:0px;
}

/*---------- login page ----------*/
.login {
    display: flex;
    gap:1rem;
    /* border:1px solid green; */
}

.login h2 {
    color:rgb(255, 165, 0);
    margin-top:0px;
    margin-bottom:1rem;
    text-align: left;
}

.login_form, .register_form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem;
    /* border:1px solid red; */
}

.login_form > form, .register_form > form {
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content:space-between;
    height:100%;
    width: 100%;
    /* border:1px solid blue; */
}

.login_form button, .register_form button {
    margin-top: auto;
}

/*---------- pack page ----------*/
table {
    border-collapse:collapse;
}

.container:has(table){
    width:fit-content;
}

tr:nth-child(odd) {
    background-color: #fff;
}
 
tr:nth-child(even) {
    background-color: hsl(204, 72%, 90%);
}
    
th, td {
    padding:.25rem 1rem;
    text-align: left; 
}

tr:first-of-type {
    border-bottom:1px solid black;
}

/*---------- pet page ---------*/
.photo_qrcode {
    position:absolute;
    right:1rem;
}

.qrcode {
    margin-top:.5rem;
    text-align:right;
}
.qrcode img {
    width:100px;
}

/*-------------------- adaptive --------------------*/
/* @media (orientation: landscape) {
    .splash_container {
        width: 100vw;
        height: 100vh; /* Full height for landscape
    }
    img {
        margin-top:0;
        padding-top:0;
        width: auto; Allow width to adjust based on height
        height: 70%; Fill height of container
    }
}

@media (orientation: portrait) {
    .splash_container {
        height: fit-content;
    }
    img {
        width: 100%;
        height: auto;
    }
} */