<!--for testing only-->
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Pet Tracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!--change below to "./css/styles.css when public set up in server-->
  <link rel='stylesheet' href='../../public/css/styles.css'>
</head>
<body> 
<!--end testing; don't forget "</body>" below-->
<div class='container login inter-tight-regular'>
  <div class='login_form'>
      <h2>Login</h2>
      <form>
          <div>
              <label for='email-login'>Email</label>
              <input type='text' id='email-login' />
              <label for='password-login'>Password</label>
              <input type='password' id='password-login' />
          </div>
          <div>
              <button type='submit'>Login</button>
          </div>
      </form>
  </div>
  <div class = 'signup_form'>
      <h2>Signup</h2>
      <form>
          <div>
              <label for='name-signup'>Name</label>
              <input type='text' id='name-signup' />
              <label for='email-signup'>Email</label>
              <input type='text' id='email-signup' />
              <label for='password-signup'>Password</label>
              <input type='password' id='password-signup' />
          </div>
          <div>
              <button type='submit'>Signup</button>
          </div>
      </form>
  </div>
</div>
</body> 

<script src='./js/login.js'></script>


<!--
{{!-- reference for styling
<div class='row'>
  <div class='col-md-6'>
    <h2>Login</h2>

    <form class='form login-form'>
      <div class='form-group'>
        <label for='email-login'>Email</label>
        <input class='form-input' type='text' id='email-login' />
      </div>
      <div class='form-group'>
        <label for='password-login'>Password</label>
        <input class='form-input' type='password' id='password-login' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Login</button>
      </div>
    </form>
  </div>
  <div class='col-md-6'>
    <h2>Signup</h2>

    <form class='form signup-form'>
      <div class='form-group'>
        <label for='name-signup'>Name</label>
        <input class='form-input' type='text' id='name-signup' />
      </div>
      <div class='form-group'>
        <label for='email-signup'>Email</label>
        <input class='form-input' type='text' id='email-signup' />
      </div>
      <div class='form-group'>
        <label for='password-signup'>Password</label>
        <input class='form-input' type='password' id='password-signup' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Signup</button>
      </div>
    </form>
  </div>
</div>
-->